= simple_form_for(@posicionamento) do |f|
  = f.error_notification

  .form-inputs
    = f.input :posicao
    = f.input :data
    = f.input :horario
    = f.association :usuario, label_method: :login

  .form-actions
    = f.submit "Salvar"
