%h1 Listing usuarios

%table
  %thead
    %tr
      %th Login
      %th Senha
      %th Nome
      %th Email
      %th Numero
      %th Status
      %th
      %th
      %th

  %tbody
    - @usuarios.each do |usuario|
      %tr
        %td= usuario.login
        %td= usuario.senha
        %td= usuario.nome
        %td= usuario.email
        %td= usuario.numero
        %td= usuario.status
        %td= link_to 'Show', usuario, :class => 'see'
        %td= link_to 'Edit', edit_usuario_path(usuario), :class => 'see'
        %td= link_to 'Excluir', usuario, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'see'

%br

= link_to 'New Usuario', new_usuario_path, :class => 'linksnew'
