= simple_form_for(@favorito) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nomeLocal
    = f.association :posicionamento, label_method: :posicao
    = f.association :usuario, label_method: :login

  .form-actions
    = f.submit 'Salvar', :class => 'see'
