%h1 Listar Favoritos

%table
  %thead
    %tr
      %th Local

      %th Usuario
      %th
      %th
      %th

  %tbody
    - @favoritos.each do |favorito|
      %tr
        %td= favorito.nomeLocal
          
        %td= favorito.usuario.login if !favorito.usuario.nil?
        %td= link_to 'Show', favorito, :class => 'see'
        %td= link_to 'Edit', edit_favorito_path(favorito), :class => 'see'
        %td= link_to 'Excluir', favorito, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'see'

%br

= link_to 'New Favorito', new_favorito_path, :class => 'linksnew'
