%p#notice= notice

%p
  %b Nomelocal:
  = @favorito.nomeLocal
%p
  %b Posicionamento:
  = @favorito.posicionamento.posicao
%p
  %b Usuario:
  = @favorito.usuario.login

= link_to 'Edit', edit_favorito_path(@favorito)
\|
= link_to 'Back', favoritos_path
